<form id="onesearch-form" action="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search" method="get">
	<div>
		<!-- You may change the label's text but you must include a label for ADA compliance. -->
		<label id="onesearch-label" for="onesearch-query">Enter your keywords:</label>
	</div>
	<!-- optional select box, or use radio buttons below -->
	<select name="facet">
		<option value="" selected="selected">Search everything</option>
		<option value="tlevel,include,available_p">Books &amp; Videos in the Library</option>
		<option value="tlevel,include,peer_reviewed">Scholarly Journals</option>
		<option value="rtype,include,books">Books &amp; Ebooks</option>
		<option value="rtype,include,videos">Videos</option>
	</select>
	<!-- end select box -->

	<!-- hidden below line is mandatory -->
	<input type="hidden" name="query" value="any,contains,">
	<input type="text" name="query" id="onesearch-query">

	<!-- optional radio buttons, or use select box above. Can use 2-4 (first one is mandatory if you use any) -->
	<div>
		<input type="radio" name="facet" value="" id="onesearch-everything" checked>
		<label for="onesearch-everything">Everything</label>
		<input type="radio" name="facet" value="tlevel,include,available_p" id="onesearch-books-libraries">
		<label for="onesearch-books-libraries">Books &amp; Videos in the Library</label>
		<input type="radio" name="facet" value="tlevel,include,peer_reviewed" id="onesearch-scholarly">
		<label type="radio" for="onesearch-scholarly">Scholarly Journals</label>
		<input type="radio" name="facet" value="rtype,include,books" id="onesearch-ebook">
		<label type="radio" for="onesearch-ebook">Books &amp; Ebooks</label>
		<input type="radio" name="facet" value="rtype,include,videos" id="onesearch-video">
		<label type="radio" for="onesearch-video">Videos</label>
	</div>
	<!-- end radio buttons -->
	<!--update value attributes in next two lines per college. value should be arc, crc, flc or scc. -->
	<input type="hidden" name="search_scope" value="[YOUR VALUE HERE]_everything">
	<input type="hidden" name="vid" value="01CACCL_LRCCD:[YOUR VALUE HERE]">
	<input type="submit" value="Search">
</form>

<script>
	// note: this js can be left out and form will still function
	// each of our websites uses jQuery so might as well simplify code by using it. If testing this outside of the website, need to include jQuery
	jQuery(document).ready(function ($) { // this is safe way to start jQuery function--sometimes dollar sign is used for other things
		$('#onesearch-form').on('submit', function (e) {
			e.preventDefault();
			var form = $(this);
			var kw = $('#onesearch-query').val();
			var baseURL = form.attr('action');
			var vid = form.find('input[name="vid"]').val();
			var scope = form.find('input[name="search_scope"]').val();
			if (kw === '') { // if no query is entered, go to Primo home page
				location.href = baseURL + '?vid=' + vid;
			} else {
				var facet = '';
				if (form.find('option').length) {
					facet = form.find('option:selected').val();
				}
				else if (form.find('input[type="radio"]').length) {
					facet = form.find('input[type="radio"]:checked').val();
				}
				location.href = baseURL + '?query=any,contains,' + kw + '&search_scope=' + scope + '&vid=' + vid + '&facet=' + facet;
			}
		});
	});
	
</script>