<!-- This is just a simple text query. Note that there is no styling at all--you will need to add it. I included some ids thinking they may help with styling; but you could potentially remove all of them except the onesearch-query. -->
<!-- To open results in new window (NOT RECOMMENDED!), add the following to the form element:
            target="_blank"
-->
<!-- to use the proxy, uncomment the followign line and comment the one afterward -->
<!-- <form id="onesearch-form" action="https://ezproxy.losrios.edu/form?qurl=https%3A%2F%2Fsearch.ebscohost.com%2Flogin.aspx" method="post"> -->
<form id="onesearch-form" action="https://search.ebscohost.com/login.aspx" method="get">
    <input type="hidden" name="authtype" value="ip,guest" >
    <input type="hidden" name="direct" value="true" >
        <!-- Below are the per-college values for custid. If you do not replace the value with the appropriate one, the form will not work.
        ARC: amerriv
        CRC: cosum
        FLC: ns015092
        SCC: sacram
        -->
    <input type="hidden" name="custid" value="REPLACE THIS WITH YOUR VALUE" >
    <input type="hidden" name="site" value="eds-live" >
    <input type="hidden" name="groupid" value="main" >
    <input type="hidden" name="profile" value="eds" >
    <!-- You may change the label's text but you must include a label for ADA compliance. -->
    <label id="onesearch-label" for="onesearch-query">Enter your keywords:</label>
    <input type="text" name="bquery" id="onesearch-query" >
    <input type="submit" value="Search" >
</form>
<!-- the following tracks usage of the search box in Google Analytics. If you have access to your page's Google Analytics and want to track usage of the search box, uncomment the block and the appropriate line depending on version of Analytics. You can also edit the category, action and label as desired. Otherwise delete the entire script block. -->
<!-- 
<script type="text/javascript">
	document.getElementById('onesearch-form').addEventListener('submit', function() {
		var searchTerm = document.getElementById('onesearch-query').value;
	// below uses older Google Analytics - ARC and FLC are both still using this. Not sure what CRC is doing.
	//	_gaq.push(['_trackEvent','onesearch form', 'submit', searchTerm]);
	// below uses latest version of Google Analytics (Universal Analytics)
	//      ga('send', 'event', 'onesearch form', 'submit', searchTerm);
	
	});
</script>
-->